/*------------------------ESERCIZIO 1--------------------------------*/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* risolvo */  
    transition: 3s;
}

/* risolvo */
.ex-1-square:hover{
    background-color: red;
}  
/*------------------------ESERCIZIO 2--------------------------------*/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    /* risolvo */
    transition: 2s;
}
/* risolvo */
.ex-2-square:active{
    width: 100%;    
}
/*------------------------ESERCIZIO 3--------------------------------*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    /* risolvo */
    transition: 3s;
}
/* risolvo */
.ex-3-square:hover{
    border-radius: 50%;
}
/*------------------------ESERCIZIO 4--------------------------------*/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    /* risolvo */
    transition: 3s;
}
/* risolvo */
.ex-4-square:hover{
    background-color: transparent;
}
/*------------------------ESERCIZIO 5--------------------------------*/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    /* risolvo */
    transition: 3s;
}
/* risolvo */
.ex-5-square:hover{
    transform: scale(1.3);
}
.ex-5-square:active{
    transform: scale(0.4);
}
/*------------------------ESERCIZIO 6--------------------------------*/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* risolvo */
.ex-6-img:hover{
    filter:grayscale(1);
}
/*------------------------ESERCIZIO 7--------------------------------*/
/* risolvo */
.ex-7-img{
    transition: filter 3s;
}
.ex-7-img:hover{
    filter: sepia(1);
    filter: grayscale(1);
}
/*------------------------ESERCIZIO 8--------------------------------*/
/* risolvo */
.ex-8-img{
    transition: 3s;
}
.ex-8-img:hover{
    filter: brightness(0.4);
    filter:invert(1);
    border-radius: 40px;
}
/*------------------------ESERCIZIO 9--------------------------------*/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    /* risolvo */
    transition: 3s;
}
 /* risolvo */
.ex-9-img:hover{
    filter: saturate(1);
    filter: sepia(1);
    border-radius: 20px;
    transform: scale(0.4);
}
/*------------------------ESERCIZIO 10--------------------------------*/
.ex-10-icon {
    font-size: 60px;
    /* risolvo */
    animation: ruota_antiorario 3s linear infinite;
}
/* risolvo */
@keyframes ruota_antiorario{
    100% {
        transform: rotate(-360deg);
    }
}

/*------------------------ESERCIZIO 11--------------------------------*/
.ex-11-icon {
    font-size: 60px;
    /* risolvo */

}
/* risolvo */
.ex-11-icon:hover{
    animation: rotate_orario_antiorario 3s infinite;
}
@keyframes rotate_orario_antiorario{
    0% {
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/*--------------------------------------------------------------------*/
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/*------------------------ESERCIZIO 12--------------------------------*/
/* risolvo */
.ex-12-button:hover .ex-12-top-white {
    animation: spostamento_top-12 3s ;
}
@keyframes spostamento_top-12{
    0%{
        left: 10%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: spostamento_bottom-12 3s ;
}
@keyframes spostamento_bottom-12{
    0%{
        right: 20%;
    }
    50%{
        right: 60%;
    }
    100%{
        right: 20%;
    }
}
/*------------------------ESERCIZIO 13--------------------------------*/
/* risolvo */
.ex-13-button:hover .ex-13-top-white{
    animation: girocompleto-top 5s infinite;
}
@keyframes girocompleto-top {
    0%{
        top: -10px;
        left: 10%;
        width: 60px;
        height: 20px;
    }
    20%{
        top: -10px;
        left: -5%;
        width: 60px;
        height: 20px;
    }
    45%{
        top: -10px;
        left: -5%;
        width: 20px;
        height: 60px;
    }
    60%{
        top: 14px;
        left: -5%;
        width: 20px;
        height: 60px;
    }
    85%{
        top: 54px;
        left: -5%;
        height: 20px;
        width: 60px;
        
    }
    100%{
        top: 54px;
        left: 49%;
        height: 20px;
        width: 60px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: girocompleto-bottom 5s infinite;
}
@keyframes girocompleto-bottom {
    0%{
        bottom: -10px;
        right: 20%;
        width: 60px;
        height: 20px;
    }
    20%{
        bottom: -10px;
        right: -6%;
        width: 60px;
        height: 20px;
    }
    45%{
        bottom: -10px;
        right: -6%;
        width: 20px;
        height: 60px;
    }
    60%{
        bottom: 14px;
        right: -6%;
        width: 20px;
        height: 60px;
    }
    85%{
        bottom: 54px;
        right: -6%;
        width: 60px;
        height: 20px;  
    }
    100%{
        bottom: 54px;
        right: 59%;
        width: 60px;
        height: 20px;
    }
}